@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#tabs-container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

#tabs-container::-webkit-scrollbar-track {
  background: transparent;
}

#tabs-container::-webkit-scrollbar-thumb {
  background-color: theme('colors.indigo.500');
  border-radius: 20px;
  border: none;
}

#tabs-container::-webkit-scrollbar-thumb:hover {
  background-color: theme('colors.indigo.600');
}

#tabs-container {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.indigo.500') transparent;
}

#select-all-visual.indeterminate {
  background-color: theme('colors.indigo.500');
  border-color: theme('colors.indigo.500');
}

#select-all-visual.indeterminate::after {
  content: '';
  position: absolute;
  left: 3px;
  top: 7px;
  width: 8px;
  height: 2px;
  background-color: white;
  transform: rotate(0deg);
  border: none;
}
